
      .center {
        text-align: center;
      }
      html{
          background-color: black;
      }
      body {
         
          
          margin: 20px 0px  20px 0px;
      }
 
      ul {
          list-style: none;
          padding: 0;
      }
      img {
          display: inline;
          width: 300px;
          height: 100px;
      }
      #app{
          background-image: url("matrixNumbers.jpg");
          padding: 80px 0px 100px 0px;
          color: white;
          background-color: black;
          text-align: center;
      }
      #backgroundShade{
          display: inline-block;
          text-align: center;
          background-color:rgba(0, 0, 0, 0.60);
          
      }
      #input-parent{
          margin-top: 30px;
          position: relative;
          left: 25px;
      }
      #player-input{
          border-radius: 50%;
          height: 150px;
          width: 150px;
          font-size: 50px;
          color: black
      }
     #submit{
         border-radius: 50%;
         background-color: rgba(9, 241, 9, 0.82);
         height:50px;
         width: 50px;
         position: relative;
         top: 40px;
         right: 30px;

     }
      #guesses{
          margin: 50px 0 40px 0
      }
      .guessboxes>li{
          display: inline;
          border: solid 2px black;
          border-radius: 5px;
          background-color: white;
          padding: 20px;
          font-size: 15px;
          color: black;
          margin:0 5px 0 5px;
          
      }
      #reset{
          background-color: black;
          color: white;
      }
      #hint{
          background-color: black;
          color: white;
      }
      .footer {
          width: 100%;
          border-top: solid 2px black;
          position: fixed;
          bottom: 0;
          color: white;
          background-color: black;
      }
      #byline{
          margin-top: 15px;
      }
          
          
     
     
     

